# Santander Coders exercises from Class #6 Unit #2

Date: 02/15/2024. From: Ada Tech. Language: Portuguese.

In [1]:
import pandas as pd
import numpy as np

## Exercícios

_Descrição dos Exercícios:_ Serão 5 exercícios onde o objetivo será conseguir os dados de datasets conhecidos do Kaggle e responder os tópicos propostos para cada um deles.

##

__Exercício 1:__ Análise de Dados do Airbnb em Nova York
__Dataset:__  Disponível no Kaggle como _New York City Airbnb Open Data_.

In [2]:
df_airbnb = pd.read_csv("datasets/02-15-AB_NYC_2019.csv")

__Questões:__

__1-__ Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.

In [3]:
df_airbnb.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

__2-__ Calcule o preço médio de aluguel por bairro (neighbourhood_group).

In [4]:
df_airbnb.groupby("neighbourhood_group")["price"].mean()

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

__3-__ Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).

In [5]:
df_airbnb["room_type"].value_counts()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: count, dtype: int64

__4-__ Determine os 10 bairros com a maior quantidade de hospedagens listadas.

In [6]:
df_airbnb["neighbourhood"].value_counts().sort_values(ascending=False)[:10]

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
Hell's Kitchen        1958
East Village          1853
Upper East Side       1798
Crown Heights         1564
Midtown               1545
Name: count, dtype: int64

###

__Exercício 2:__ Explorando Dados de Vendas de Imóveis
    
__Dataset:__ Disponível no Kaggle como _House Prices: Advanced Regression Techniques._

In [7]:
df_house_prices_teste = pd.read_csv("datasets/02-15-test.csv")
df_house_prices_treino = pd.read_csv("datasets/02-15-train.csv")
df_house_prices = pd.concat([df_house_prices_teste, df_house_prices_treino])

__Questões:__

__1-__ Exiba o número total de linhas e colunas no DataFrame.

In [8]:
df_house_prices.shape # linhas, colunas

(2919, 81)

__2-__ Encontre o preço médio dos imóveis.

In [9]:
df_house_prices["SalePrice"].mean()

180921.19589041095

__3-__ Liste as 5 áreas de lote (LotArea) mais grandes.

In [10]:
df_house_prices["LotArea"].sort_values(ascending=False)[:5]

313    215245
335    164660
249    159000
706    115149
451     70761
Name: LotArea, dtype: int64

__4-__ Determine quantos imóveis possuem mais de 2 banheiros (FullBath).

In [11]:
df_house_prices[df_house_prices["FullBath"] > 2].shape[0]

68

###

__Exercício 3:__ Análise de Dados de Compras Online

__Dataset:__ Disponível no Kaggle como _Brazilian E-Commerce Public Dataset by Olist._

In [12]:
df_olist_pedidos = pd.read_csv("datasets/02-15-olist_orders_dataset.csv")
df_olist_produtos = pd.read_csv("datasets/02-15-olist_products_dataset.csv")
df_olist_produtos_pedidos = pd.read_csv("datasets/02-15-olist_order_items_dataset.csv")

__Questões:__

__1-__ Determine quantos pedidos foram feitos em cada ano.

In [13]:
pd.to_datetime(df_olist_pedidos["order_purchase_timestamp"]).dt.year.value_counts()

order_purchase_timestamp
2018    54011
2017    45101
2016      329
Name: count, dtype: int64

__2-__ Calcule o tempo médio de entrega (diferença entre order_purchase_timestamp e order_delivered_customer_date).

In [14]:
(pd.to_datetime(df_olist_pedidos["order_delivered_customer_date"]) - pd.to_datetime(df_olist_pedidos["order_purchase_timestamp"])).mean()

Timedelta('12 days 13:24:31.879068369')

__3-__ Identifique o top 5 categorias de produtos mais vendidos.

In [15]:
produtos_vendidos = df_olist_produtos_pedidos.merge(df_olist_produtos, on="product_id")
produtos_vendidos["product_category_name"].value_counts().sort_values(ascending=False)[:5]

product_category_name
cama_mesa_banho           11115
beleza_saude               9670
esporte_lazer              8641
moveis_decoracao           8334
informatica_acessorios     7827
Name: count, dtype: int64

###

__Exercício 4:__ Análise de Dados de Filmes do IMDb
    
__Dataset:__ Disponível no Kaggle como _IMDb movies extensive dataset_.

In [16]:
df_imdb = pd.read_csv("datasets/02-15-movies.csv")

__Questões:__

__1-__ Exiba os títulos e anos dos 10 filmes mais recentes no dataset.

In [17]:
df_imdb["year"] = df_imdb["year"].str[-4:]
df_imdb[["title", "year"]].sort_values(by=["year", "title"], ascending=(0, 1))[:10]

                                      title  year
9175                                     65  2023
3684                          A Good Person  2023
5374                                    AKA  2023
2007                                    Air  2023
7349      Ant-Man and the Wasp: Quantumania  2023
2018  Are You There God? It's Me, Margaret.  2023
4849                          Asteroid City  2023
2006                                 Barbie  2023
4852                                 Bawaal  2023
4454                         Beau Is Afraid  2023

__2-__ Calcule a duração média dos filmes.

In [18]:
df_imdb["runtime"].mean()

110.57833282566759

__3-__ Identifique o filme com a maior quantidade de votos (votes).

In [19]:
df_imdb[df_imdb["votes"] == df_imdb["votes"].max()]["title"]

0    The Shawshank Redemption
Name: title, dtype: object

__4-__ Determine quantos filmes possuem uma classificação (avg_vote) superior a 8.

In [20]:
df_imdb[df_imdb["rating"] > 8].shape[0]

445

###

__Exercício 5:__ Explorando Dados de Jogos de Videogame
    
__Dataset:__ Disponível no Kaggle como _Video Game Sales with Ratings_.

In [21]:
df_videogame = pd.read_csv("datasets/02-15-Video_Games_Sales_as_at_22_Dec_2016.csv")

__Questões:__

__1-__ Liste os 5 jogos mais vendidos globalmente (Global_Sales).

In [22]:
df_videogame.sort_values(by="Global_Sales", ascending=False)["Name"][:5]

0                  Wii Sports
1           Super Mario Bros.
2              Mario Kart Wii
3           Wii Sports Resort
4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

__2-__ Calcule as vendas totais na América do Norte (NA_Sales).

In [23]:
df_videogame["NA_Sales"].sum()

4402.620000000001

__3-__ Encontre o jogo mais vendido no Japão (JP_Sales).

In [24]:
df_videogame[df_videogame["JP_Sales"] == df_videogame["JP_Sales"].max()]["Name"]

4    Pokemon Red/Pokemon Blue
Name: Name, dtype: object

__4-__ Determine a média de pontuação dos críticos (Critic_Score) para os jogos da Nintendo.

In [25]:
df_videogame[df_videogame["Publisher"] == "Nintendo"]["Critic_Score"].mean()

75.52580645161291